/* wrapper */
.wrapper {
    display: flex;
    flex-direction: row;
    color: rebeccapurple;
}

/* mobile */
@media (min-width: 320px) and (max-width: 480px) {
    .wrapper {
        flex-direction: column;
    }
  }

