/* left section */
.left-section {
    flex: 1;
    background: #111111;
    padding-top: 50px;
}

    .me {
        width: 300px;
        margin: 0 auto;
    }

    .left-section-text-wrapper {
        padding: 50px;
    }

        .left-section-text-wrapper h4, .left-section-text-wrapper h2 {
            margin-bottom: 0;
        }

        .skills-list {
            list-style-type: disc;
        }

            .skills-list li::marker {
                color: green;
            }