/* utilities */
* {
    box-sizing: border-box;
}

.rounded {
    border-radius: 50%;
}

.text-center {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

/* colors */
.purple {
    color: #7b1fa2;
}

.yellow {
    color: yellow;
}

/* headings */
h1 {
    margin-top: 0;
}